*{
    color:white;
}
.Netflix {
    width:100px;
    height: 70px;
}
.container {
    display:flex;
  justify-content: center;
}
.cn2{
    display: flex;
    justify-content: center;
}

.search {
   font-size: 160px;
}
.search-input{
    font-size: 160px;
}
.color {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    background-color:black;
   
    height: 400px;
}
